* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #0077ff;
}


body {
    background-color: #ed77b1;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #FCE4D8;
    height: auto;
}

ul {
    display: grid;
    grid-template-areas:
    'menu-item1 menu-item2 menu-item3'
    ;
}

li {
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

button {
    padding: 20px;
    border-color: #f1aed8;
}

button:hover {
    background-color: #ed77b1;
}

.menu-item1 {
    grid-area: menu-item1;
}

.menu-item2 {
    grid-area: menu-item2;
}

.menu-item3 {
    grid-area: menu-item3;
}

.wrapper {
    max-width: 1200px;
    height: 1000px;
    background-color: #f1aed8;
    margin: auto;
}

#donutCount {
    font-size: 24px;
}

#clickButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#autoClickButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0044ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 1;
}

#autoClickButton:disabled {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #0044ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: .3;
}


